{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1>Discover what's out there.</h1>
    <div class="flex-form">
        <form action="/search" method="POST">
            <input type="search" name="content" id="content" placeholder="What do you want to search?">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}